# emacs
*~

# vim
.swp

## proposed by https://github.com/katalon-studio/ShadowDOMSampleProject/blob/master/.gitignore#L3
/\.classpath
/\.project
/\.settings/
/bin/lib/
/Libs/
/bin/

/Reports/
/Materials/
/Storage/
/tmp/
/build/

## gradle
/.gradle/

## Drivers dir is updated by gradle.build#drivers task
/Drivers/

settings/
