# emacs
*~

# vim
.swp

## proposed by https://github.com/katalon-studio/ShadowDOMSampleProject/blob/master/.gitignore#L3
/\.classpath
/\.project
/\.settings/
/bin/lib/
/Libs/

## I do not want Reports/Materials/Storage to be published to remote Git repository
/Reports/
/Materials/
/Storage/
/tmp/
/bin/
